graft dvs_printf
graft docs
include pyproject.toml
include setup.py
include LICENSE
include README.md
include PYPI_README.md
include CHANGELOG.md
include RELEASE_NOTES.md
graft assets

global-exclude *.py[cod] __pycache__ *.so .DS_Store
